*.tar
*.tar.gz
*.log
*.tmp
*.csv
/.idea/*
/.htaccess
/aksoft_hello.sql
/matrix/components/
/matrix/managed_cache
/matrix/modules
/matrix/php_interface
/matrix/cache
/matrix/templates
/upload

cmsmagazine*.txt
yandex_*.txt
yandex_*.html
sitemap*.xml
google*.html